@font-face {
    font-family: 'bpreplaybold';
    src: url('../fonts/bpreplaybold-webfont.eot');
    src: url('../fonts/bpreplaybold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpreplaybold-webfont.woff') format('woff'),
         url('../fonts/bpreplaybold-webfont.ttf') format('truetype'),
         url('../fonts/bpreplaybold-webfont.svg#../fonts/bpreplaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bpreplayregular';
    src: url('../fonts/bpreplay-webfont.eot');
    src: url('../fonts/bpreplay-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpreplay-webfont.woff') format('woff'),
         url('../fonts/bpreplay-webfont.ttf') format('truetype'),
         url('../fonts/bpreplay-webfont.svg#../fonts/bpreplayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
* {
	border: 0 none;
	list-style: none outside none;
	margin: 0;
	outline: 0 none;
	padding: 0;
}

.main-menu {
  position: fixed;
  top:0;
  left:0;
  width:52px;
  height:100%;
  background-color:#000;
  z-index:2;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
.banner {
  height:450px;
  background-attachment: scroll;
  background-size:cover;
  background-repeat:no-repeat;
  margin-top:-150px;
}
header {
  height:175px;
}
header .contents {
  position: absolute;
  width:100%;
  height:175px;
  background-position:center bottom;
  background-repeat:repeat-x;
  color:#fff;
  z-index:1;
}
header h1 {
  font:60px 'bpreplayregular',sans-serif;
  color:#fff;
}
.page-contents {
  padding:30px 0;
  position: relative;
}
footer {
  height:60px;
}

.fixed {
  position:fixed;
  top:0;
}
.adjust {
  position:absolute;
  bottom:30px;
}
.scrolled {
  position: static;
}


.page-about .banner {
  background-image:url(../images/bg-about.gif);
}
.page-about header .contents {
  background-image:url(../images/title-about.png);
}

html, body.page-home, .page-home section {
  height:100%;
}
.page-home section {
  background-image: url(../images/bg-home.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}
.page-home .main-menu {
  background-color:rgba(255,255,255,0.1);
  width:170px;
  padding-top:20px;
}
.page-home footer {
  position: fixed;
  bottom:0;
}
